.carousel_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}
.owl-stage-outer{
    padding: 0;
}
@media only screen and (max-width: 575.98px) {
    .owl-item.active{
        width: 306px !important;
    }
}

.owl-carousel .owl-dots {
    text-align: center !important;
    margin-top: 8px !important;
}

.owl-carousel .owl-dot {
    width: 4px !important;
    height: 4px !important;
    background-color: #ddd !important;
    border-radius: 50% !important;
    display: inline-block !important;
    margin: 0 6px !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

/* Style the active dot */
.owl-carousel .owl-dot.active {
    background-color: #333 !important; 
}
