.gateway {
    .smoothsWipe-table {
        tbody tr {
            td {
                font-weight: 400;
                a {
                    display: inline-block;
                    background: linear-gradient(45deg, #5b8ee6, #712da7);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    border-bottom: 1px solid #5b8ee6;
                    &:hover {
                        background: linear-gradient(45deg, #5b8ee6, #712da7);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .action-btn {
                    width: 104px;
                    padding: 4px 0;
                }
            }
            td.tdd-container .td-show-details ul li label {
                width: 130px;
                color: #696c80;
            }
        }
    }

    // Gateway modals
    .modal-dialog .modal-content .modal-body {
        padding: 20px 24px 0;
    }
}
