// Brand Colors
$brand-gray: #F8F8F8;
$brand-gradient: linear-gradient(135.8deg, #5B8EE6 5.62%, #712DA7 95.63%);


// Primary Colors
$white: #ffffff;

// Secondary Colors
$secondary-1: rgba(0,0,0,0.1);
$secondary-4: rgba(0, 0, 0, 0.4);
$secondary-6: rgba(0, 0, 0, 0.6);
$creamson-gray:#ebeae9;
$input-text: #2C2B32;
$secondary-text: #696C80;
$placeholder-text: #757A89;
$alert: #C4344B;
$border-gray: #EAEDF3;
$border-gray-1: #F4F4F4;
$light-blue: #F3F5FC;
$success: #68AE99;
$danger: #C4344B;